#Hero{
    height: 100vh;
    position: relative;
    overflow: hidden;
    .bg{
        position: absolute;
        height: 100%;
        left: -550px;
        z-index: -99;
    }

    h1{
        color: #fff;
    }

    .content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 50px;
        color: #fff;
        text-align: center;

        .left{
            padding-bottom: 50px;

            h3{
                font-size: 20px;
                opacity: 0.8;
            }

            h1{
                font-size: 50px;
                margin-top: 10px;
            }

            .call-to-action{
                background: linear-gradient(#FF362E,#E8290B);
                padding: 10px 20px;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                display: block;
                margin-top: 30px;
            }
        }
    }
    
}


#Works{
    .content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        .card{
            margin: 10px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.233) 3px 3px 8px;
            border-radius: 5px;
            // height: 250px;
            img{
                width: 100%;
            }

            p{
                margin: 10px;
            }
        }
    }
}


#Connect{
    .social{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;

        .icons-btn{
            i{
                font-size: 3.3em;
            }
        }
    }
}


#Footer{
    background: linear-gradient(#0a3d62 0%, #192a56 100%);
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: #fff;
        margin: 0;

        span{       
            background: #3c40c6;
            padding: 5px 10px;
            border-radius: 50px;

            a{
                color: #fff;
                 text-decoration: none;
            }
        }
    }

}